<!DOCTYPE html>


<html xmlns:th="http://www.thymleaf.org">
</head> 

<head>
<meta charset="ISO-8859-1">
<title>Reimbursement System</title>
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>

<body>


<hr style="height:30px;border-width:10;color:gray;background-color:Teal">
	<div class ="container text-center">
	<div>
	<h1> Reimbursement Portal </h1>
	</div>
	<p>
    <label for="Login as">Login as</label>
<select name="Login"id="Login">
	<option value="Manager">Manager</option>
    <option value="Employee">Employee</option>
 </select><br></p>
    

    <form name="details" method="post" action="/auth/login">
        <p>
        User name <input type="text" name="username" value=''></p>
        
      	<p>
        Password <input type="password" name="password" value=''>
        </p>
        <input type="submit" name="submit" value="Login">
    </form>
	
<hr>
		<h4><a th:href="@{/register}">Register</a></h4>


</div>	
<hr style="height:10px;border-width:10;color:gray;background-color:Teal">
</body>
</html>